<h1>Listing presentations</h1>

<table>
  <tr>
    <th>name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => 'presentation', :collection => @presentations %>
</table>

<br />

<%= link_to 'New Presentation', new_presentation_path %>
